body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    margin: 0;
    color: #212121;
    background-color: #FFFFF3;
}
.title {
    font-family: 'Playfair Display', serif;
    text-shadow: 2px 2px 1px #d7d2c8;
    font-size: 1rem;
}
h1.title {
    font-size: 2.1rem;
}
a {
    text-decoration: underline;
    text-decoration-style: dotted;
    font-weight: 400;
    color: #531d1d;
}
.lhdi {
    fill: #ff2b35;
    color: #ff2b35;
    font-weight: 500;
}
.mhdi {
    fill: #ffab00;
    color: #ffab00;
    font-weight: 500;
}
.hhdi {
    fill: #35ddb3;
    color: #35ddb3;
    font-weight: 500;
}
.vhdi {
    fill: #0053D0;
    color: #0053D0;
    font-weight: 500;
}
.nodata {
    fill: #d7d2c8;
    color: #d7d2c8;
}
path.lhdi, path.mhdi, path.hhdi, path.vhdi {
    stroke: #FFE;
    stroke-width: 1px;
}
.selected {
    opacity: 0.23!important;
}
.footer {
    text-align: center;
    font-size: 0.8em;
}
#wdvp-logo {
    height: 53px;
    width: 172px;
}
#wdvp-logo img {
    height: 53px;
}
.circular-plot, .radial-line-chart {
    pointer-events: none;
}
.circular-plot circle {
    fill: none;
    stroke-width: 1px;
    stroke: #BBB;
    stroke-dasharray: 2 2;
}

.circular-plot text {
    fill: #535372;
    text-transform: capitalize;
    font-size: 0.8em;
}
.radial-line-chart path, #legend path {
    fill: none;
    stroke-width: 1.5px;
}
.radial-line-chart circle {
    fill: none;
    stroke: #533C0A;
    stroke-width: 1px;
    stroke-dasharray: 5 5;
    stroke-opacity: 0.23;
}
.radial-line-chart text {
    fill: #533C0A;
    font-size: 0.53em;
}
.healthexp{
    color: #D209A5;
    stroke: #D209A5;
    font-weight: 500;
}

.eduexp{
    color: #006FFF;
    stroke: #006FFF;
    font-weight: 500;
}
path#LHDI, path#MHDI, path#HHDI, path#VHDI {
    fill: none;
    stroke: none;
}
.inner text {
    font-size: 0.7rem;
}
.info text {
    text-anchor: middle;
    font-size: 0.7rem;
}
.info .title {
    font-size: 1rem;
}
#countryInfo {
    opacity: 0;
}
#countryInfoPopover {
    position: absolute;
    opacity: 0;
    background-color: #FFF;
    padding: 5px;
    pointer-events: none;
    font-size: 0.75rem;
    box-shadow: 1px 1px 5px #d7d2c8;
}
#statistic {
    text-transform: capitalize;
}
#score {
    font-weight: 500;
}
#countryName {
    font-size: 0.75rem;
}
.annotations text{
    font-size: 0.7rem;
    fill: #535353;
    opacity: 0.72;
}
.annotations .title {
    font-size: 0.8rem;
    font-weight: 400;
    fill: #212121;
    opacity: 1;
}
.annotations path {
    stroke: #DDD;
    fill: none;
    stroke-width: 1px;
}
#similarCountries text:nth-child(1) {
    fill: #725321;
    opacity: 0.53;
}
#similarCountries text:nth-child(n+2) {
    font-weight: 500;
}
#legend text {
    font-size: 0.6rem;
}
.footnote {
    font-size: 0.8rem;
}
#countryComparison {
    position: absolute;
    background-color: #FFF;
    padding: 23px;
    width: 599px;
    height: 553px;
    font-size: 0.7rem;
    box-shadow: 1px 1px 5px #d7d2c8;
    top: 0px;
    left: -610px;
}
.n {
    font-weight: 500;
    font-size: 1.1rem;
}
.r {
    text-align: right;
}
#countryComparison .row {
    padding-top: 0.53rem;
    padding-bottom: 0.53rem;
}
